@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
body{
  background-color: #EEEDF0;
  font-family: 'Open Sans', sans-serif;
}
.bg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header{
  background-image: url('../img/header.jpg');
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
.header--text{
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  max-width: 90%;
}
.navbar-default{
  background-color: white;
}
@media (min-width: 991px) {
  header{
    padding-top: 20px;
  }
  .navbar{
    border-radius: 0px;
    max-width: 80%;
    margin: 0px auto;
  }
  .nav{
    color: black;
  }
}
section{
  min-height: 100vh;
  padding: 20px 0;
}
.bg--white{
  background-color: white;
}
.section--heading h1{
  text-align: center;
  font-weight: 700;
  margin: 20px 0;
}
.about--sec__img{
}
.about--sec__img img{
  height: 50vh;
  display: block;
  margin: 0 auto 20px auto;
}
.main--sec{
  width: 90%;
  margin: 0 auto;
}
@media (max-width:767px) {
  .main--sec{
    width: 95%;
  }
}
.gal--img{
  position: relative;
  margin-bottom: 14px;
}
.gallery>div{
  padding: 0 7px;
}
.gal--img__hover{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.gal--img:hover .gal--img__hover{
  display: flex;
  cursor: pointer;
}
.preview--img{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.d--flex{
  display: flex !important;
}
.preview--img .fa-times{
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}
.preview--img img{
  max-width: 95%;
  max-height: 95vh;
}
#contact{
  background-color: #979178;
}
#contact .section--heading{
  color: white;
}
.contact--form{
  width: 70%;
  margin: 0 auto;
}

.contact--form>div{
  position: relative;
  max-width: 600px;
  margin: 0 auto 10px auto;
}
.contact--form span{
  width: 50px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  background-color: yellow;
  position: absolute;
  right: calc(100%);
  background-color: #e29b31;
}
@media (max-width: 767px) {
  .contact--form span{
    display: block;
    position: static;
    width: 100%;
    height: 20px;
    line-height: 10px;
    font-size: 10px;
  }
}
.contact--form input,
.contact--form textarea{
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 0;
  border: 1px solid transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.contact--form textarea{
  height: 150px;
  resize: none;
}
.sub--btn{
  background-color: #e29b31;
  padding: 7px 20px;
  color: white;
  text-transform: uppercase;
  border: 1px solid transparent;
}
footer{
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 7px;
}
